{% extends "front_office.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
    {% match article.description %}
        {% when Some with (description) %}
            <meta name="description" content="{{ description }}" />
        {% when None %}
    {% endmatch %}

    {% match metric_token %}
        {% when Some with (token) %}
            <script>
                localStorage.setItem("METRIC_TOKEN", "{{ token }}");
            </script>
        {% when None %}
    {% endmatch %}

    <link rel="stylesheet" href="/css/pages/article.css" />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org", 
            "@type": "BlogPosting",
            "headline": "{{ article.title }}",
            "image": "http://example.com/image.jpg",
            "datePublished": "{{ article.international_date }}",
            "dateCreated": "{{ article.international_date }}",
            {% match article.modified_date %}
                {% when Some with (modified_date) %}
                    "dateModified": "{{ modified_date }}",
                {% when None %}
            {% endmatch %}
            {% match article.description %}
                {% when Some with (description) %}
                    "description": "{{ description }}",
                {% when None %}
            {% endmatch %}
            "author": {
                "@type": "Person",
                "name": "Ludivine Farat"
            }
        }
    </script>
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>{{ article.title }}</h1>

        <div id="date_category">
            <time datetime="{{ article.international_date }}">{{ article.date }}</time>
            {% match category %}
                {% when Some with (category) %}
                    <a href="/blog/categories/{{ category.uri }}" id="category" class="btn btn__blue">{{ category.name }}</a>
                {% when None %}
            {% endmatch %}
        </div>

        <div id="cover" style="--bg: url(/uploads/{{ article.cover_path }})"></div>
    </header>

    <div class="grid grid_cols_1 md_grid_cols_2 gap_4 space_y_4">
        <div class="flex flex_col row_gap_6">
            {% for block in left_blocks %}
                <div>
                    {% match block.title %}
                        {% when Some with (title) %}
                            <h2 class="mb_2">{{ title }}</h2>
                        {% when None %}
                    {% endmatch %}
    
                    {% match block.content %}
                        {% when Some with (content) %}
                            <p>{{ content }}</p>
                        {% when None %}
                    {% endmatch %}
                </div>
            {% endfor %}
        </div>
        
        <div class="space_y_4">
            {% for block in right_blocks %}
                <div>
                    {% match block.title %}
                        {% when Some with (title) %}
                            <h2 class="mb_2">{{ title }}</h2>
                        {% when None %}
                    {% endmatch %}
    
                    {% match block.content %}
                        {% when Some with (content) %}
                            <p>{{ content }}</p>
                        {% when None %}
                    {% endmatch %}
                </div>
            {% endfor %}
        </div>
    </div>
</article>

<div class="know_more card">
    <div class="card__body">
        <div class="text_center md_text_left">
            <div class="text_2xl font_bold uppercase mb_4">Curieux d'en savoir + ?</div>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    
        <a href="/contact" class="btn btn__blue">
            Me contacter
            <svg class="icon ml_2" height="24px">
                <use xlink:href="/icons.svg#paper_plane"></use>
            </svg>
        </a>
    </div>
</div>
{% endblock %}