{% extends "front_office.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {% match description %}
        {% when Some with (description) %}
            <meta name="description" content="{{ description }}" />
        {% when None %}
    {% endmatch %}

    {% match metric_token %}
        {% when Some with (token) %}
            <script>
                localStorage.setItem("METRIC_TOKEN", "{{ token }}");
            </script>
        {% when None %}
    {% endmatch %}

    <link rel="stylesheet" href="/css/pages/blog.css" />
{% endblock %}

{% block content %}
<header>
    <h1>{{ title }}</h1>
    {% match description %}
        {% when Some with (description) %}
            <p>{{ description }}</p>
        {% when None %}
    {% endmatch %}
</header>

<nav class="md_order_2">
    <header>
        <h3>Catégories</h3>
    </header>

    <a href="/blog">Tout</a>
    {% for category in categories %}
        <a href="blog/categories/{{ category.uri }}">{{ category.name }}</a>
    {% endfor %}
</nav>

<section class="grid grid_cols_1 md_grid_cols_2 gap_6">
    {% for article in articles %}
        <a href="/blog/articles/{{ article.uri }}" class="post">
            <article>
                <div class="post__cover" style="--cover-path: url(/uploads/{{ article.cover }})"></div>

                <div class="post__body">
                    <header>
                        <h2>{{ article.title }}</h2>
                        <time datetime="{{ article.international_date }}">{{ article.date }}</time>
                    </header>

                    {% match article.description %}
                        {% when Some with (description) %}
                            <p>{{ description }}</p>
                        {% when None %}
                    {% endmatch %}
                </div>
            </article>
        </a>
    {% endfor %}
</section>
{% endblock %}