{% extends "front_office.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {% match description %}
        {% when Some with (description) %}
            <meta name="description" content="{{ description }}" />
        {% when None %}
    {% endmatch %}

    <link rel="stylesheet" href="/css/pages/contact.css" />
    <script src="/js/contact.js" async></script>

    {% match metric_token %}
        {% when Some with (token) %}
            <script>
                localStorage.setItem("METRIC_TOKEN", "{{ token }}");
            </script>
        {% when None %}
    {% endmatch %}
{% endblock %}

{% block content %}
    <section>
        <div class="md_px_5 lg_px_10 xl_px_30 space_y_8 md_space_y_10 mb_10 md_mb_0">
            <h1 class="pb_2 md_pb_10">Contact</h1>
            <h2 class="text_blue">Hello</h2>
            <p>
                Prêt à faire décoller mon âme d’artiste pour donner un style unique et singulier à votre marque ?<br /><br />
                Identité visuelle, conception charte graphique, design site web, vidéo motion design, stop motion, carrousels, création logo entreprise, carte de visite…<br /><br />
                Partons à la découverte des codes couleurs, typographies, images et univers qui composeront l’identité de marque qui VOUS ressemble.
            </p>

            {#<div class="text_center md_text_left">
                <a href="#" class="uppercase btn btn__blue mt_2 md_mt_0">
                    Télécharger ma grille tarifaire
                    <svg class="icon ml_2" height="24px">
                        <use xlink:href="/icons.svg#download"></use>
                    </svg>
                </a>
            </div>#}
        </div>

        <div id="success" class="hidden">
            <h2 class="mb_2 text_blue">Félicitation !! 🎉</h2>

            <p>Votre message m'a bien été transmis, je répondrai à ce dernier dans <u>les plus brefs délais</u> ! 😊</p>
        </div>

        <form method="post">
            <label for="lastname">Nom</label>
            <div>
                <div class="input">
                    <input type="text" id="lastname" name="lastname" maxlength="120" />
                    <div class="bg"></div>
                </div>
            </div>

            <label for="firstname" class="mt_3">Prénom</label>
            <div>
                <div class="input">
                    <input type="text" id="firstname" name="firstname" maxlength="120" />
                    <div class="bg"></div>
                </div>
            </div>

            <label for="phone_number" class="mt_3">Numéro</label>
            <div>
                <div class="input">
                    <input type="text" id="phone_number" name="phone_number" />
                    <div class="bg"></div>
                </div>
            </div>

            <label for="email" class="mt_3">Mail</label>
            <div>
                <div class="input">
                    <input type="text" id="email" name="email" />
                    <div class="bg"></div>
                </div>
            </div>

            <label for="content" class="mt_3">Message</label>
            <div>
                <div class="input">
                    <textarea name="content" id="content" maxlength="500"></textarea>
                    <div class="bg"></div>
                </div>
            </div>

            <div id="error" class="hidden text_center text_warning py_4">
                <span class="font_bold">Oups, une erreur est survenue 😬</span><br />Si l'erreur persiste contactez moi directement au <a href="tel:+33675605185">06 75 60 51 85</a>
            </div>

            <div class="flex justify_center md_justify_end mt_8 md_mt_15">
                <button type="submit">
                    Envoyer
                    <svg class="icon icon--sm ml_2" height="24px">
                        <use xlink:href="/icons.svg#paper_plane"></use>
                    </svg>
                </button>
            </div>
        </form>
    </section>
{% endblock %}