<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <title>{% block title %}{{ title }}{% endblock %} | Ludivine Farat - Designer Graphique Freelance</title>

        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/css/global.css" o-no-load />

        <script src="/js/global.js" o-no-load async></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container mx_auto">
            <header id="topbar">
                <a href="#menu-opened" id="open_mobile_menu">
                    <svg class="icon icon--lg" height="32px">
                        <use xlink:href="/icons.svg#burger"></use>
                    </svg>
                </a>
    
                <a id="logo" o-follow href="/">
                    <img src="/logo.svg" alt="Logo" />
                </a>

                <nav>
                    <a o-follow href="/portfolio">Portfolio</a>
                    <a o-follow href="/motion-design">Motion design</a>
                    <a o-follow href="/blog">Blog</a>
                    <a o-follow o-preload-once href="/mes-petits-plus">Mes petits +</a>
                    <a o-follow o-preload-once href="/contact">Contact</a>

                    <div class="socials">
                        <a href="http://www.behance.net/ludivinefarat" target="_blank" rel="noopener">
                            <svg class="icon icon--lg" height="32px">
                                <use xlink:href="/icons.svg#behance"></use>
                            </svg>
                        </a>
    
                        <a href="https://www.instagram.com/ludivinefarat/" target="_blank" rel="noopener">
                            <svg class="icon icon--lg" height="32px">
                                <use xlink:href="/icons.svg#instagram"></use>
                            </svg>
                        </a>
    
                        <a href="https://www.linkedin.com/in/ludivine-farat/" target="_blank" rel="noopener">
                            <svg class="icon icon--lg" height="32px">
                                <use xlink:href="/icons.svg#linkedin"></use>
                            </svg>
                        </a>
    
                        <a href="https://vimeo.com/ludivinefarat" target="_blank" rel="noopener">
                            <svg class="icon icon--lg" height="32px">
                                <use xlink:href="/icons.svg#vimeo"></use>
                            </svg>
                        </a>
                    </div>
                </nav>
            </header>

            <ga-frame name="main">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </ga-frame>
            
            <footer>
                <a class="order_2 md_order_1" href="tel:+33675605185">06 75 60 51 85</a>

                <div class="order_1 md_order_2 space_x_2">
                    <a href="http://www.behance.net/ludivinefarat" target="_blank" rel="noopener">
                        <svg class="icon icon--lg" height="32px">
                            <use xlink:href="/icons.svg#behance"></use>
                        </svg>
                    </a>

                    <a href="https://www.instagram.com/ludivinefarat/" target="_blank" rel="noopener">
                        <svg class="icon icon--lg" height="32px">
                            <use xlink:href="/icons.svg#instagram"></use>
                        </svg>
                    </a>

                    <a href="https://www.linkedin.com/in/ludivine-farat/" target="_blank" rel="noopener">
                        <svg class="icon icon--lg" height="32px">
                            <use xlink:href="/icons.svg#linkedin"></use>
                        </svg>
                    </a>

                    <a href="https://vimeo.com/ludivinefarat" target="_blank" rel="noopener">
                        <svg class="icon icon--lg" height="32px">
                            <use xlink:href="/icons.svg#vimeo"></use>
                        </svg>
                    </a>
                </div>

                <a class="order_3" href="mailto:hello@ludivinefarat.fr">hello@ludivinefarat.fr</a>
    
                <span class="md_col_span_5 text_center order_4">
                    ©{{ year }} Ludivine Farat - Tous droits réservés - <a href="/mentions-legales">Mentions légales</a>
                </span>
            </footer>
        </div>
    </body>
</html>