@use 'style-box/abstracts/variables' with (
    $colors: (
        'green': #20d489,
        'error': #f1416c,
        'blue': #00b2ff
    )
);
@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/breakpoints';
@import 'style-box/base/space';
@import 'themes/admin';

@import 'formvalidation/dist/main';
@import 'components/modal';
@import 'style-box/base/display';
@import 'style-box/base/text';
@import 'style-box/base/margin';
@import 'style-box/components/icon';

@import 'quill/dist/quill.snow';

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap');

main {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh
}

@include breakpoints.md {
    main {
        grid-template-columns: 20% 1fr;
    }
}

[name="sidenav"] {
    scrollbar-width: thin;
    scrollbar-color: #eff2f5 transparent;
    overflow: auto;
    background-color: #5710b2;
}

[name="main"] {
    max-height: 100vh;
    display: grid;
    gap: utilities.space(3);
    grid-template-columns: 20% 1fr;
    align-items: start;
    padding: utilities.space(8);
    background-color: #fbf9f6;
}

#sidenav {
    height: 100%;

    nav {
        display: flex;
        flex-direction: column;
        padding: utilities.space(10);

        a {
            text-decoration: none;
            padding: utilities.space(4) 0;
            color: #fff;
            // font-weight: 600
        }
    }
}

section#content {
    padding: utilities.space(8);
    height: 100%;
    background-color: #fbf9f6;
}