@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap');
@import 'custom.scss';
@import 'style-box/abstracts/functions/utilities';
@import 'style-box/abstracts/mixins/breakpoints';
@import 'style-box/base/margin';
@import 'style-box/base/typography';
@import 'style-box/base/text';
@import 'style-box/base/grid';
@import 'style-box/base/container';
@import 'style-box/base/space';
@import 'style-box/base/order';
@import 'style-box/components/icon';

@import 'layout/_footer.scss';
@import 'layout/_menu.scss';

@font-face {
    font-family: "Quakiez";
    src: url("/fonts/Quakiez.ttf");
}

html {
    body {
        color: color('black');
        font-family: 'Urbanist', sans-serif;
        background-color: color('white');
        font-size: 18px;
        margin: 0
    }
}

h1 {
    font-family: "Quakiez";
    color: color(blue);
    font-size: 4rem;
    line-height: 1;
    text-transform: inherit;
    
    @include sm {
        font-size: 4.5rem
    }
    
    @include lg {
        font-size: 6rem;

    }
}

a {
    text-decoration: none;
    color: inherit;

    &.special {
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
        }

        &::before {
            bottom: -.5rem;
            height: 2px;
            width: calc(100% - 10px);
            background-color: color(blue)
        }

        &::after {
            right: 0; 
            bottom: calc(-.5rem - 5px);
            height : 0;
            width : 0;
            border-top : 4px solid transparent;
            border-bottom : 6px solid transparent;
            border-left : 10px solid color(blue);
        }
    }
}

* {
    box-sizing: border-box
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0
}