@use 'style-box/abstracts/mixins/text';
@use 'style-box/abstracts/functions/utilities';

.card {
    border: 1px solid utilities.color(blue);
    box-shadow: 0px 0px 12px utilities.color(blue);
    
    &__body {
        padding: utilities.space(5) utilities.space(6)
    }
}