<div class="modal" id="category_modal">
    <div class="modal__dialog">
        <div class="modal__dialog__header">
            <h5 class="modal__dialog__header__title"></h5>
        </div>

        <form name="category_form" class="modal__dialog__body">
            <label for="name">Nom <span class="text_error">*</span></label>
            <input type="text" id="name" name="name" maxlength="60" class="mb_2" />

            <label for="description">Description</label>
            <textarea id="description" name="description" maxlength="255" class="mb_2"></textarea>

            <div>
                <label for="is_visible">Visible sur le site ?</label>
                <input type="checkbox" id="is_visible" name="is_visible" />
            </div>

            <div>
                <label for="is_seo">Référençable par les moteurs de recherche ?</label>
                <input type="checkbox" id="is_seo" name="is_seo" />
            </div>

            <div class="modal__dialog__footer">
                <button type="button" class="btn btn__error btn--sm hidden">
                    Supprimer
                    <svg class="icon icon--sm ml_1">
                        <use xlink:href="/dashboard_icons.svg#delete"></use>
                    </svg>
                </button>

                <button type="submit" class="btn btn__green btn--sm"></button>
            </div>
        </form>
    </div>
</div>