<header id="topbar">
    <a href="#menu-opened" id="open_mobile_menu">
        <svg class="icon icon--lg" height="32px">
            <use xlink:href="/icons.svg#burger"></use>
        </svg>
    </a>

    <a id="logo" o-follow href="/">
        <img src="/logo.svg" alt="Logo" />
    </a>

    <nav>
        <a o-follow href="/portfolio">Portfolio</a>
        <a o-follow href="/motion-design">Motion design</a>
        <a o-follow href="/blog">Blog</a>
        <a o-follow="preload-once" href="/mes-petits-plus">Mes petits +</a>
        <a o-follow="preload-once" href="/contact">Contact</a>

        <div class="socials">
            <a href="http://www.behance.net/ludivinefarat" target="_blank" rel="noopener">
                <svg class="icon icon--lg" height="32px">
                    <use xlink:href="/icons.svg#behance"></use>
                </svg>
            </a>

            <a href="https://www.instagram.com/ludivinefarat/" target="_blank" rel="noopener">
                <svg class="icon icon--lg" height="32px">
                    <use xlink:href="/icons.svg#instagram"></use>
                </svg>
            </a>

            <a href="https://www.linkedin.com/in/ludivine-farat/" target="_blank" rel="noopener">
                <svg class="icon icon--lg" height="32px">
                    <use xlink:href="/icons.svg#linkedin"></use>
                </svg>
            </a>

            <a href="https://vimeo.com/ludivinefarat" target="_blank" rel="noopener">
                <svg class="icon icon--lg" height="32px">
                    <use xlink:href="/icons.svg#vimeo"></use>
                </svg>
            </a>
        </div>
    </nav>
</header>