@use 'style-box/abstracts/variables' with (
    $colors: (
        'green': #20d489,
        'error': #f1416c,
        'blue': #00b2ff
    )
);
@use 'style-box/abstracts/functions/utilities';

@import 'style-box/base/grid';
@import 'style-box/base/space';
@import '../../components/drop_zone';
@import '../../themes/admin';

#article_modal .drop_zone {
    height: 100px;
}

.blocks {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    'label label'
                            'left_col right_col'
                            'button button';

    label {
        grid-area: label;
    }
    
    #left {
        grid-area: left_col;
    }
    
    #right {
        grid-area: right_col;
    }
    
    #add_block {
        display: flex;
        justify-content: center;
        grid-area: button
    }
    
    &__item {
        position: relative;
        border-radius: .65rem;
        border: solid 1px #f5f8fa;
        padding: 1rem 1.25rem;

        button.delete {
            color: utilities.color('error');
            outline: none;
            background-color: #fff;
            position: absolute;
            right: .5rem;
            top: .5rem;
            border-radius: 50%;
            border: 1px solid;
            font-size: 0;
            z-index: 10;
            cursor: pointer;
            padding: .25rem
        }
    }
}

.articles {
    @extend .card;
    
    .card__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5rem;
        align-items: center;
    }

    .card__body {
        margin: 0;
        padding-bottom: utilities.space(6);

        li {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            grid-template-areas:    'header actions'
                                    'description actions'
                                    'footer actions';
            border-radius: .65rem;
            background-color: #f5f8fa;
            padding: 2rem 2.25rem;
    
            header {
                grid-area: header;
                display: flex;
                column-gap: .5rem;
                align-items: center;
    
                h3 {
                    font-size: 1.075rem !important;
                    color: #181c32;
                    font-weight: 600 !important;
                    margin: 0
                }
    
                .category {
                    padding: .25rem .5rem;
                    background-color: utilities.color('blue');
                    color: #fff;
                    border-radius: .5rem
                }
            }
            
            p {
                grid-area: description;
                color: #a1a5b7 !important
            }
    
            p, time {
                margin-top: .5rem;
            }
            
            div {
                display: flex;
                flex-direction: column;
                grid-area: actions;
                row-gap: .5rem;
    
                button {
                    appearance: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
    
            time {
                grid-area: footer
            }
        }
    }
}

.categories {
    @extend .card;
    
    .card__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5rem;
        align-items: center;
    }

    .card__body {
        margin: 0;
        padding-bottom: utilities.space(4);

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: utilities.space(2) 0;
            column-gap: utilities.space(2);
    
            button {
                appearance: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}