@use 'style-box/abstracts/variables' with (
    $colors: (
        'green': #20d489
    )
);
@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/mixins/text';
@import '../../themes/admin';

@import 'style-box/base/float';
@import 'style-box/base/margin';
@import 'style-box/base/display';
@import 'style-box/base/text';

.text_muted {
    color: #a1a5b7;
}

h1 {
    @include text.text(3xl, true);
    color: #fff;
    line-height: 1;
    text-align: center;
    text-transform: inherit;
}

a {
    color: utilities.color('green');
    font-weight: bold;
}

@include breakpoints.md {
    label, a {
        @include text.text(base, true)
    }

    main {
        grid-template-columns: 35% 1fr;
    }

    h1 {
        @include text.text(4xl, true);
    }

    #banner {
        height: 100vh !important;
    }

    section#content {
        padding: utilities.space(20);

        form {
            max-width: 50%;
        }
    }
}

@include breakpoints.xl {
    h1 {
        @include text.text(5xl, true)
    }
}

#login_error {
    @include text.text(sm);
    color: #f1416c
}

#banner {
    padding-top: 3rem;
    background-color: utilities.color('green');
    height: 50vh;
    background-image: url(/img/login.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: bottom;
    background-position-x: center;
}

section#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

label, a {
    @include text.text(sm)
}

[name="main"] {
    grid-template-columns: 1fr !important;
}