@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/breakpoints';

@import 'style-box/base/grid';
@import 'cropperjs/dist/cropper';

.categories {        
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        $item: &;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: utilities.space(2) 0;
        column-gap: utilities.space(2);

        &__name {
            width: 100%;
            cursor: pointer;
            padding: utilities.space(3) 0;
        }

        input {
            display: none
        }

        &--edition {
            #{$item}__name {
                display: none
            }

            input {
                display: block
            }
        }
    }
}

.projects {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &__item {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        grid-template-areas:    'title actions'
                                'content actions'
                                'footer actions';

        border-radius: .65rem;
        background-color: #f5f8fa;
        padding: 2rem 2.25rem;

        &__title {
            grid-area: title;
            font-size: 1.075rem !important;
            color: #181c32;
            font-weight: 600 !important;
            margin-bottom: .25rem;
        }

        &__actions {
            display: flex;
            flex-direction: column;
            grid-area: actions;
            row-gap: .5rem;
        }

        &__content {
            grid-area: content;
            color: #a1a5b7 !important
        }

        &__footer {
            margin-top: .5rem;
            grid-area: footer;
            column-span: all;
        }

        &__categories {

        }
    }
}

.assets {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: utilities.space(4);
    
    @include breakpoints.md {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    div {
        position: relative;
        background-color: #f5f8fa;
        border: 3px dashed #eef3f7;
        min-height: 100px;
        border-radius: .65rem;
        transition: background-color .2s ease-in-out;
        
        &:hover {
            background-color: #eef3f7;
        }
        
        input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
        }

        img:not(.hidden) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

}

img {
    display: block;
    max-width: 100%
}