@use '../abstracts/variables';
@use 'style-box/abstracts/mixins/breakpoints' as bp;
@import '../themes/default';
@import 'style-box/abstracts/functions/utilities';
@import 'style-box/base/display';
@import 'style-box/base/grid';
@import 'style-box/base/space';
@import '../components/card';
@import '../components/button';
@import '../layouts/blog_nav';
@import '../components/lightbox.scss';

main {
    display: grid;
    gap: space(6);
    grid-template-areas:    "header header header"
                            "article article article"
                            "know_more know_more know_more";

    nav {
        display: none;
    }

    header {
        grid-area: header;
        margin-bottom: space(4);
        text-align: center;
    
        @include bp.md {
            margin-bottom: space(12);
            text-align: left;
    
            h1 {
                font-family: 'Urbanist', sans-serif;
                text-transform: uppercase;
                margin-bottom: space(4)
            }
    
            #date_category {
                align-items: center;
                flex-direction: row !important;
            }
        }
    
        h1 {
            margin-bottom: space(2)
        }
    
        #date_category {
            display: inline-flex;
            flex-direction: column;
            gap: space(4);
            margin-bottom: space(4);
    
            a {
                border-radius: 10px;
                font-size: .9rem;
            }
        }
        
        #cover {
            width: 100%;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: var(--bg);
        }
    }
    
    h2 {
        color: color(blue)
    }

    article {
        grid-area: article;
    }
    
    @include bp.md {
        img {
            display: block;
            width: 70%;
            margin: space(2) auto;
        }

        nav a {
            display: block;
            & + a {
                margin-top: space(2)
            }
        }
    }

    @include bp.lg {
        nav {
            display: block;
        }

        grid-template-areas:    "header header header"
                                "article article nav"
                                "know_more know_more know_more";
                                //grid-template-columns: 1fr auto;
                            }
                            
    @include bp.xl {
        grid-template-areas:    "header header header header"
                                "article article article nav"
                                "know_more know_more know_more know_more";

    }

    .know_more {
        grid-area: know_more
    }
}
