<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        <meta name="robots" content="noindex">

        <title>{% block title %}Administration : {{ title }}{% endblock %} | Ludivine Farat</title>

        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/css/admin.css" o-no-load />
        <script src="/js/global.js" o-no-load async></script>

        {% block head %}{% endblock %}
    </head>

    <body class="container mx_auto">
        <main>
            <ga-frame name="sidenav">
                <div id="sidenav">
                    {% block sidenav %}
                        <nav>
                            <a href="#">Tableau de bord</a>
                            <a href="/admin/home">Page d'accueil</a>
                            <a href="/admin/portfolio">Portfolio</a>
                            <a href="#">Blog</a>
                            <a href="/admin/my_little_plus">Mes petits +</a>
                            {#<a href="#">Pages</a>#}
                            <a href="/admin/parametres">Paramètres</a>
                            <a href="/user/logout">Déconnexion</a>
                        </nav>
                    {% endblock %}
                </div>
            </ga-frame>

            <ga-frame name="main">
                    {% block content %}{% endblock %}
            </ga-frame>
        </main>
    </body>
</html>