{% extends "back_office.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
    <script src="/js/admin/blog.js" async></script>
    <link rel="stylesheet" href="/css/pages/admin/blog.css" />

    <script>
        const categories = {{ categories|json }};
        const articles = {{ articles|json }};
    </script>
{% endblock %}

{% block content %}
    <div class="modal" id="category_modal">
        <div class="modal__dialog">
            <div class="modal__dialog__header"></div>

            <form name="category_form" class="modal__dialog__body">
                <label for="name">Nom <span class="text_error">*</span></label>
                <input type="text" id="name" name="name" maxlength="60" />

                <label for="description">Description</label>
                <textarea id="description" name="description" maxlength="255"></textarea>

                <div>
                    <label for="is_visible">Visible sur le site ?</label>
                    <input type="checkbox" id="is_visible" name="is_visible" />
                </div>

                <div>
                    <label for="is_seo">Référençable par les moteurs de recherche ?</label>
                    <input type="checkbox" id="is_seo" name="is_seo" />
                </div>

                <div class="flex justify_end">
                    <button type="submit" class="btn btn__green btn--sm"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal modal--full" id="article_modal">
        <div class="modal__dialog">
            <div class="modal__dialog__header"></div>

            <form name="article_form" class="modal__dialog__body">
                <label>Couverture</label>

                <div id="cover_container">
                    <div class="drop_zone">
                        <input type="file" name="cover" accept="image/png, image/jpeg" />
    
                        <img src="" />
    
                        <button type="button">
                            <svg class="icon icon--sm" height="24px">
                                <use xlink:href="/icons.svg#close"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <label for="title">Titre <span class="text_error">*</span></label>
                <input type="text" id="title" name="title" maxlength="255" />

                <label for="category_id">Catégorie</label>
                <select id="category_id" name="category_id">
                    <option></option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <label for="description">Description</label>
                <textarea id="description" name="description" maxlength="320"></textarea>

                <!-- BLOCKS -->
                <div class="blocks">
                    <label>Contenu</label>

                    <div id="left" class="space_y_2"></div>
                    <div id="right" class="space_y_2"></div>

                    <div id="add_block" class="flex justify_center w_100">
                        <button
                            type="button"
                            class="btn btn__blue btn--sm"
                        >
                            Ajouter un block
                            <svg class="icon ml_1">
                                <use xlink:href="/dashboard_icons.svg#plus"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div>
                    <label for="is_visible">Visible sur le site ?</label>
                    <input type="checkbox" id="is_visible" name="is_visible" />
                </div>

                <div>
                    <label for="is_seo">Référençable par les moteurs de recherche ?</label>
                    <input type="checkbox" id="is_seo" name="is_seo" />
                </div>

                <div class="flex justify_end">
                    <button type="submit" class="btn btn__green btn--sm">Créer</button>
                </div>
            </form>
        </div>
    </div>

    <div class="categories">
        <div class="card__header">
            Catégories

            <button
                type="button"
                class="btn btn__green btn--sm"
                id="btn_add_category"
            >
                <svg class="icon icon--sm">
                    <use xlink:href="/dashboard_icons.svg#plus"></use>
                </svg>
            </button>
        </div>

        <ul class="card__body">
            {% for category in categories %}
                <li data-id="{{ category.id }}" class="categories__item">
                    <span>{{ category.name }}</span>

                    <div>
                        <button type="button" class="text_blue btn_edit_category">
                            <svg class="icon icon--sm">
                                <use xlink:href="/dashboard_icons.svg#edit"></use>
                            </svg>
                        </button>
                        <button type="button" class="text_error btn_delete_category">
                            <svg class="icon icon--sm">
                                <use xlink:href="/dashboard_icons.svg#delete"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="articles">
        <div class="card__header flex justify_between">
            Articles

            <button type="button" class="btn btn__green btn--sm" id="btn_add_article">Créer un article</button>
        </div>

        <ul class="card__body space_y_2">
            {% for article in articles %}
                <li data-id="{{ article.id }}">
                    <header>
                        <h3>{{ article.title }}</h3>

                        {% match article.category_id %}
                            {% when Some with (_) %}
                                <span class="category"></span>
                            {% when None %}
                        {% endmatch %}
                    </header>

                    {% match article.description %}
                        {% when Some with (description) %}
                            <p>{{ description }}</p>
                        {% when None %}
                    {% endmatch %}

                    <div>
                        <button type="button" class="text_blue">
                            <svg class="icon">
                                <use xlink:href="/dashboard_icons.svg#edit"></use>
                            </svg>
                        </button>

                        <button type="button" class="text_error">
                            <svg class="icon">
                                <use xlink:href="/dashboard_icons.svg#delete"></use>
                            </svg>
                        </button>
                    </div>

                    {# The javascript will fill this tag #}
                    <time datetime="{{ article.date|rfc3339 }}"></time>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}