{% extends "back_office.html" %}

{% block title %}Portfolio{% endblock %}

{% block head %}
    <script src="/js/admin/portfolio.js" async></script>
    <link rel="stylesheet" href="/css/pages/admin/portfolio.css" />
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card__header">
            Mes petits +
        </div>

        <div class="card__body">
            texte
        </div>

        <div class="card__footer">
            footer
        </div>
    </div>
{% endblock %}