{% extends "back_office.html" %}

{% block title %}Paramètres{% endblock %}

{% block head %}
    <script src="/js/admin/settings.js" async></script>
    <link rel="stylesheet" href="/css/pages/admin/settings.css" />
{% endblock %}

{% block content %}
    {% include "includes/asset_edit_modal.html" %}

    <div class="card">
        <div class="card__header">
            <h1>Paramètres</h1>
        </div>

        <form name="settings" class="card__body">
            <label for="logo">Logo</label>
            <!-- <input type="file" /> -->
            <div class="drop_zone">
                <input type="file" accept="image/png, image/jpeg" />

                <img src="" />

                <button type="button">
                    <svg class="icon icon--sm" height="24px">
                        <use xlink:href="/icons.svg#close"></use>
                    </svg>
                </button>
            </div>

            <label for="favicon" class="mt_2">Favicon</label>
            <small class="block">Icône du site-web qui s'affiche dans la barre d'adresse et les résultats des moteurs de recherche</small>
            <input type="file" />

            <div class="flex justify_end mt_2">
                <button type="submit" class="btn btn__blue btn--sm">Modifier</button>
            </div>
        </form>
    </div>
{% endblock %}